@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ovo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ovo", serif;
  color: #000;
  background-color: #F6F2E9;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1720px;
  width: 100%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.ffb{
 font-family: "Bodoni Moda", serif;
}
 



.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.rounded-1 {
  border-radius: 10px !important;
}
.rounded-2 {
  border-radius: 20px !important;
}
.rounded-3 {
  border-radius: 30px !important;
}

.bg-dark {
  background-color: #000 !important;
}
.text-black-50 {
  color: #000 !important;
}
.bg-secondary{
  background-color: #798D81 !important;
}
.bg-danger{
  background-color: #654945 !important;
}
.bg-light{
  background-color: #F5EACF !important;
}
.text-light{
  color: #d2988d !important;
}
.text-secondary{
color: #99917d !important;
}





.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

/* 0 */

.ls-001 {
  letter-spacing: -0.01em;
}
.ls-002 {
  letter-spacing: -0.02em;
}
.ls-003 {
  letter-spacing: -0.03em;
}
.ls-25 {
  letter-spacing: 0.25em;
}
.ls-100 {
  letter-spacing: 0.1em;
}
.ls-150 {
  letter-spacing: 0.15em;
}
.ls-200 {
  letter-spacing: 0.02em;
}
.ls-210 {
  letter-spacing: 0.21px;
}
.ls-300 {
  letter-spacing: 0.03em;
}
.ls-500 {
  letter-spacing: 0.05em;
}
.ls-005 {
  letter-spacing: -0.05em;
}
.ls-002 {
  letter-spacing: -0.02em;
}
.ls-004 {
  letter-spacing: -0.04em;
}
.ls-144 {
  letter-spacing: -1.44px;
}
.ls-072 {
  letter-spacing: -0.72px;
}

/* 0 */

/* 01 */
h1,
.h1 {
  font-size: 50px;
  line-height: 1.2;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-50 {
  font-size: 50px;
}

/* 01 */

/* 02 */
.lh-0 {
  line-height: normal;
}
.lh-0-9 {
  line-height: 0.9;
}
.lh-1-1 {
  line-height: 110%;
}
.lh-1-2 {
  line-height: 120%;
}
.lh-1-3 {
  line-height: 1.3;
}
.lh-1-4 {
  line-height: 140%;
}
.lh-1-5 {
  line-height: 150%;
}
.lh-1-55 {
  line-height: 155%;
}
.lh-1-7 {
  line-height: 1.7;
}
.lh-1-8 {
  line-height: 1.8;
}
.lh-2 {
  line-height: 2;
}
.lh-2-9 {
  line-height: 2.9;
}
/* 02 */
/* .text-shadow {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
} */
.btn {
    padding: 22px 69px;
    border: 2px solid;
    display: inline-block;
    border-radius: 40px;
    line-height: normal;
    font-size: 20px;
    text-transform: uppercase;
}
.form-group .btn{
    padding: 17px 75px;
}

.btn-danger{
  background-color: #D2988D;
  border-color: #D2988D;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus{
  background-color: #798D81;
  border-color: #798D81;
  color: #fff;
}

.border-line{
  border: 1px solid #B5AE8A ;
}
.header-top-wrap a:hover{
  color: #000 !important;
}

header {
  position: relative;
  z-index: 99;
}

.navbar-brand {
  display: inline-block;
  max-width: 597px;
  width: 100%;
}

.navbar-nav .nav-link {
    line-height: normal;
    padding: 0 !important;
    display: inline-block;
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-nav > li + li {
  margin-left: 125px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
 color: #D2988D !important;
}



button#ScrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 99;
  color: #000;
}

button#ScrollToTop:hover {
  background: #000;
  color: #fff;
}

.main-navbar.border-top{
  border-color: #B5AE8A !important;
}

@media (min-width: 992px) {
  div#navbarOffcanvas {
    position: inherit !important;
    flex-direction: row;
    visibility: visible;
    width: auto;
    transform: translateX(0%);
    border-right: 0;
    margin-left: 0;
    background-color: transparent;
  }
  .offcanvas-body {
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

/* .carousel-item::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
 background: linear-gradient(
    270deg,
    rgba(30, 73, 226, 0) 27.403846383094788%,
    rgba(30, 73, 226, 1) 100%
  );
  z-index: 1;
}

.carousel-item .container{
  position: relative;
  z-index: 2;
} */

.combining-sec::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 300px;
  width: 50%;
  background: #e9efe5;
  border-radius: 0px 0px 910px 0px;

}

.our-product-wrap.border{
  border-color: #BDB29B !important;
}

.testimonial-sec::before, .testimonial-sec::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 300px;
  display: inline-block;
  background-image: url(../images/testimonial-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.testimonial-sec::after{
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  background-image: url(../images/testimonial-bottom.png);
  width: 200px;
  height: 250px;
}

.form-group input{
  height: 60px;
}
.form-group textarea{
  height: 100px;
}
.form-group input, .form-group input::placeholder, .form-group textarea, .form-group textarea::placeholder{
  color: #000 !important;
}
footer.border-top{
  border-color: #CCBE9F !important;
}

:focus-visible {
    outline: 0;
}

@media(max-width:1750px){
  .container {
  padding-left: 2%;
  padding-right: 2%;
}
}
@media(max-width:1300px){
  .navbar-brand {
    max-width: 450px;
}
.navbar-nav .nav-link {
    font-size: 15px;
}
.navbar-nav > li + li {
    margin-left: 85px;
}
h1, .h1 {
    font-size: 40px;
}
.btn {
    padding: 15px 30px;
    font-size: 17px;
}
.fs-20 {
    font-size: 17px;
}
.fs-18 {
    font-size: 15px;
}
.fs-25 {
    font-size: 20px;
}
.fs-17 {
    font-size: 14px;
}
.form-group .btn {
    padding: 14px 50px;
}
.fs-15 {
    font-size: 13px;
}
}


@media (max-width: 991.60px) {
  .navbar-toggler {
    font-size: 28px;
    padding: 0;
    color: #000;
    display: block;
  }
  .navbar-nav .nav-link {
    margin: 8px 0px;
  }

  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  div#navbarOffcanvas {
    background: #F6F2E9 !important;
    border-right: 0 !important;
    padding: 35px 10px !important;
    width: 300px !important;
  }
  .navbar-nav > li + li {
    margin-left: 0;
  }

  .offcanvas-header .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    filter: brightness(1) invert(0);
    opacity: 1;
  }
  .offcanvas-header {
    padding: 0;
    display: block !important;
  }



  .main-navbar{
    border: none  !important;
  }
      .navbar-brand {
        max-width: 250px;
    }
    h1, .h1 {
        font-size: 35px;
    }
.btn {
        padding: 10px 25px;
        font-size: 15px;
    }
.fs-20 {
        font-size: 16px;
    }
.testimonial-sec::before {
    width: 150px;
    height: 200px;
}
.testimonial-sec::after {
    width: 130px;
    height: 150px;
}
.combining-sec::before {
    height: 150px;
}



}


@media(max-width:767px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
      .navbar-brand {
        max-width: 200px;
    }
h1, .h1 {
        font-size: 30px;
    }
.combining-heading {
    width: 100% !important;
}
}

@media(max-width:575px){
  .banner-img {
    height: 300px !important;
}
    h1, .h1 {
        font-size: 27px;
    }
    .testimonial-sec::before {
        width: 70px;
        height: 90px;
    }
    .testimonial-sec::after {
        width: 70px;
        height: 70px;
    }
.form-group input {
    height: 45px;
}
}